*{
	margin: 0; 
	padding: 0; 
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
  
}

html{
	scroll-behavior: smooth;
}

.form-inline{
	display: flex;
	text-align: right;
}


.carousel-inner{
    width: 100% ;
    max-height: 600px !important;
}

@media (max-width: 575.98px) {
	.card-deck{
	display: flex;
	padding-left: 4%;
	padding-right: 4%;
}}